<div class="container">
    <br>
    <div class="row">
        <div class="col-md">
            <img src="https://www.familyandmedia.eu/wp-content/uploads/2018/03/cinema-Familyandmedia-900x444.jpg" class="img-fluid" alt="Cinema Welcome">
        </div>
    </div>
</div>