<div class="pb-2 mt-4 mb-2 border-bottom text-center">
    <a class="nav-link" [routerLink]="index + '/screen'" *ngIf="mode === screenModeEnum.List">Screen {{index+1}}</a>
    <h1 *ngIf="mode === screenModeEnum.Single">Screen {{index+1}}</h1>
</div>
<app-schedule *ngIf="mode === screenModeEnum.Single"></app-schedule>
<button class="btn" *ngIf="mode === screenModeEnum.Single" (click)="goHome()">Back</button>