<h1>Welcome to Cartelera!</h1>
<app-header></app-header>
<div class="container content">
  <div class="row">
    <div class="col-md-12">
      <br>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
