<div class="card border-secondary mb-3">
    <div class="card-header">
        Schedule
        <button class="btn"
        (click)="onEditMode()" 
        *ngIf="mode === modeEnum.Display "
        >Edit</button>
        <button class="btn"
        (click)="onSave()" 
        *ngIf="mode === modeEnum.Edition "
        >Save</button>
        <button class="btn"
        (click)="onCancel()" 
        *ngIf="mode === modeEnum.Edition "
        >Cancel</button>
    </div>
    <!-- Display mode template -->
    <div class="card-body" 
    *ngIf="mode === modeEnum.Display " >
       <div *ngFor="let scheduleItem of schedule" >
           <span> {{ scheduleItem.startTime }} - {{ scheduleItem.endTime }} </span>
       </div>
    </div>
    <!-- Edit mode template -->
    <div class="card-body" 
    *ngIf="mode === modeEnum.Edition " >
    <div *ngFor="let scheduleItem of schedule; let i = index"
    class="form-group" >
        <form #f="ngForm">
            <label [for]="'startTime_' + i">
                Start
            </label>
            <input 
            class="form-control"
            type="text" 
            name="startTime" 
            [id]="'startTime_' + i"
        [(ngModel)]="scheduleItem.startTime"
            
            >
            <label [for]="'endTime_' + i">
                End
            </label>
            <input type="text" 
            class="form-control"
            name="endTime" 
            [id]="'endTime_' + i"
            [(ngModel)]="scheduleItem.endTime"
            
            >
        </form>
                </div>
                </div>
</div>