<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand text-white" style="cursor: pointer;" routerLink="/">
        <img src="assets/images/logo.jpg" width="40" height="30" class="d-inline-block align-top" alt=""> Cinema
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" style="cursor: pointer;" routerLink="/movies">Movies</a>
            </li>
        </ul>
    </div>
</nav>