<div class="card border-secondary mb-3">
    <div class="card-header" [routerLink]="index" >
        <h2 class="card-title" >{{ movie.name }} </h2>
    </div>
    <div class="card-body text-secondary">
        <div class="row">
            <div class="col-md-2">
                <img [src]="movie.posterUrl" alt="poster" class="card-img img-fluid float-left" style="width: 100px; height: 150px">
            </div>
            <div class="col-md-10">
                <div class="row">
                    <h5 class="card-subtitle mb-2 text-muted">
                        {{ movie.year }}
                    </h5>
                </div>
                <div class="row">
                    <h6 class="card-subtitle mb-2 text-muted">{{ movie.director }} </h6>
                </div>
                <div class="row">
                    <p class="card-text" >{{ movie.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>